<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/public.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("../default/header.ejs") %>
    </header>
    <div class="login">
        <%= console.log("req : " ,req.session.name) %>
        <form action="login_check" >
            <input type="text" name="id" placeholder="input id"><br>
            <input type="text" name="pwd" placeholder="input password"><br>
            <a href="/member/register_form">회원가입</a>
            <input type="submit" value="login">
        </form>
    </div>
    
</body>
</html>
