<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/public.css">
</head>
<body>
    <header>
        <%- include("../default/header.ejs") %>
    </header>
    <div class="write_form_div">
        
    </div>
    
</body>
</html>