<link href="/static/css/header.css" rel="stylesheet">
<script>
    window.onload = () => {
        let msg = "<a href='/'>메인 페이지</a>"
        msg += "<a href='/chat'>채팅</a>"
        if (document.cookie.indexOf("isLogin=true") !== -1) {
            msg += "<a href='/chat/logout'>로그아웃</a>"
        } else {
            msg += "<a href='/chat/login_form'>로그인</a>"
        }
        document.querySelector("#nav ul").innerHTML = msg
    }
</script>

<div id="header">
    <nav id="nav">
        <ul></ul>
    </nav>
</div>

